<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <title>ToDo-web application</title>
</head>
<body>
    <nav class="navbar navbar-expand-custom navbar-mainbg">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/"><i class="far fa-calendar-alt"></i>Today</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/work"><i class="far fa-clone"></i>Work</a>
              </li>
            </ul>
      </nav>
</body>
</html>