<%- include("partials/header.ejs") %>

<main>
    <div class="box" id="heading">
        <h1> <%= todayDate  %> </h1>
    </div>

    <div class="box">
        <div class="item">
            <input type="checkbox" name="" id="">
            <p>Finish to do project</p>
        </div>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item">
            <button type="submit" name="list">+</button>
        </form>
    </div>

</main>